<mdb-card class="mt-3">
  <mdb-card-body>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-3" style="padding-right: 0 !important; padding-left: 0 !important">
      <div>
        <div style="font-weight: bold; font-size: 1.5rem">
          <i class="fas fa-arrow-left" style="cursor: pointer" (click)="backToShoppingCart()"></i>
          <span style="padding: 20px">Order Review</span>
        </div>
      </div>
      <button
        mdbBtn
        type="button"
        mdbWavesEffect
        style="margin-right: 0 !important; margin-left: 0 !important; color: white; background-color: #e6484e"
        (click)="onClickPay($event)"
      >
        Confirm
      </button>
    </div>
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let shoppingItem of shoppingService.shoppingItems; index as i">
        <mat-expansion-panel-header>
          <mat-panel-title fxLayout="row" fxLayoutAlign="start center" style="margin: 0 !important; padding: 0 !important">
            <div style="width: 15em">
              <span style="font-size: 1rem">{{ getShoppingItemName(shoppingItem) | titlecase }}</span>
            </div>
            <div style="margin-left: auto">
              {{ shoppingItem.price | currency }}
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <br />
        <div *ngFor="let resourceItem of shoppingItem.resource" [ngSwitch]="resourceItem.type">
          <app-booth-card *ngSwitchCase="'booth'" [booths]="[resourceItem]"></app-booth-card>
          <app-job-card *ngSwitchCase="'job'" [jobs]="[resourceItem]"></app-job-card>
          <app-ads-card *ngSwitchCase="'ads'" [adsList]="[resourceItem]"></app-ads-card>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div
      style="
        border-left: 0;
        border-right: 0;
        padding-left: 24px !important;
        padding-right: 24px !important;
        font-weight: bold;
        font-size: 1.3rem;
      "
      class="list-group-item pt-4 pb-4"
      id="tax-calculation"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div style="font-size: 1.2rem">Total</div>
      <div>{{ totalPrice | currency }}</div>
    </div>
  </mdb-card-body>
</mdb-card>
