<div class="container-fluid m-0 p-0 d-flex flex-column" style="height: 100%">
  <app-navbar [navTabs]="navTabs" [sideBar]="sideBar" [hideSideMenu]="hideSideMenu" (tabClicked)="selectNavTab($event)"></app-navbar>
  <mat-drawer-container class="row p-0 m-0 flex-1" autosize>
    <mat-drawer
      #sideBar
      class="col-2 m-0 p-0 d-flex flex-column shadow-sm"
      style="min-width: 120px; max-width: 240px; height: 100%"
      mode="side"
    >
      <div class="list-group">
        <a
          *ngFor="let category of categories; index as i"
          (click)="selectCategory(category)"
          class="list-group-item waves-light border-right-0"
          style="text-align: center"
          [ngClass]="{ active: selectedCategory && category.displayName === selectedCategory.displayName }"
          mdbWavesEffect
        >
          {{ category.displayName | translate }}
        </a>
      </div>
    </mat-drawer>
    <mat-drawer-content style="overflow: hidden">
      <div style="height: 100%">
        <app-main-content></app-main-content>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <app-footer></app-footer>
</div>
