<div
  style="height: 100%; width: 100%; background: #fffef7; padding-left: 64px; padding-right: 64px"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <div style="font-size: 2rem" class="mb-5">
    Hey <span style="font-weight: bold">{{ accountName }}</span
    >,
  </div>
  <div style="font-size: 2.2rem; color: #ff8000; line-height: 130%" class="mb-4">
    <mdb-icon far icon="check-square"></mdb-icon>
    Your order is placed! &nbsp;&nbsp; #{{ orderNo }}
  </div>
  <div style="font-size: 2rem; line-height: 150%">Thanks for shopping with us! A confirmation has been sent to your email.</div>
</div>
