<div class="container-fluid m-0 p-2 pb-3" style="min-height: 100%" fxLayout="column" fxFlexAlign="center space-around" fxLayoutGap="32px">
  <mdb-card fxFlex="3 1" fxLayout="column" [hidden]="hideMembershipSale">
    <mdb-card-header style="font-size: 2rem; height: 4rem" class="d-flex flex-row align-items-center justify-content-center">
      Membership
    </mdb-card-header>
    <div class="m-4 d-flex justify-content-around flex-1">
      <mdb-card *ngFor="let membershipType of membershipTypes" class="text-white" bgColor="bg-info" style="width: 20rem">
        <mdb-card-header class="text-center">{{ membershipType.name }}</mdb-card-header>
        <mdb-card-body class="white d-flex flex-column justify-content-between">
          <div fxLayout="column" fxLayoutGap="16px" class="mb-5">
            <ul class="list-group text-black-50">
              <li class="list-group-item" *ngFor="let resourceLimit of membershipType.resourceLimits" fxLayout="row">
                <span>{{ resourceLimit.resourceName }}</span>
                <span style="margin-left: auto"><span>&#215;</span>{{ resourceLimit.quantity }}</span>
              </li>
            </ul>
          </div>
          <div fxLayout="column" fxLayoutGap="16px">
            <ul class="list-group text-black-50">
              <li fxLayout="row" class="list-group-item">
                <span>Monthly cost:</span><span style="margin-left: auto">{{ membershipType.monthlyPrice | currency }}</span>
              </li>
              <li fxLayout="row" class="list-group-item">
                <span>Quarterly cost:</span><span style="margin-left: auto">{{ membershipType.quarterlyPrice | currency }}</span>
              </li>
              <li fxLayout="row" class="list-group-item">
                <span>Yearly cost:</span><span style="margin-left: auto">{{ membershipType.yearlyPrice | currency }}</span>
              </li>
            </ul>
            <button type="button" class="btn btn-warning btn-rounded" (click)="addToCart(membershipType)">Add to Cart</button>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </mdb-card>

  <mdb-card>
    <mdb-card-header style="font-size: 2rem; height: 4rem" class="d-flex flex-row align-items-center justify-content-center">
      Resource
    </mdb-card-header>
    <mdb-card-body>
      <ul class="list-group text-black-50" fxLayout="column" fxLayoutGap="32px">
        <li
          *ngFor="let resourceType of resourceTypes"
          class="list-group-item p-4"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="16px"
        >
          <div style="font-size: 1rem" class="text-center font-weight-bold" fxFlex="10%">{{ resourceType.tableName }}</div>
          <div style="font-size: 1rem" class="font-weight-bold" fxFlex="60%">{{ resourceType.description }}</div>
          <div fxFlex="30%">
            <div style="font-size: 1rem" class="text-center font-weight-bold">Monthly cost: {{ resourceType.monthlyPrice | currency }}</div>
            <div style="font-size: 1rem" class="text-center font-weight-bold">
              Quarterly cost: {{ resourceType.quarterlyPrice | currency }}
            </div>
            <div style="font-size: 1rem" class="text-center font-weight-bold">Yearly cost: {{ resourceType.yearlyPrice | currency }}</div>
          </div>
          <button type="button" class="btn btn-danger btn-floating" (click)="addToCart(resourceType)">
            <i class="fas fa-cart-plus"></i>
          </button>
        </li>
      </ul>
    </mdb-card-body>
  </mdb-card>
</div>
