<h2>奥斯汀看看网 <span style="font-weight: bold">免责声明</span></h2>

<mat-divider></mat-divider>
<ol style="margin-top: 32px">
  <li>
    本站网页所涉及的任何资料仅供参考使用。参阅本网站上所刊信息的人士，应被视为已认同上述立场。浏览者依据本网站提供的信息、资料及图片进行的任何评论及持有的观点与本网站无关。
  </li>
  <li>
    本站刊登信息均由合作商家或浏览者提供，刊登的新闻或文章来自其他媒体，并不代表本网立场。如有侵犯您的权利，请立刻联系我们予以修改或删除。未经本站的明确许可，任何人不得盗链本站资源，不得复制或仿造本网站。
  </li>
  <li>
    本网站已尽力确保所有信息资料的准确、完整及最新性。就该信息资料的针对性、精确性以及特定用途的适合性而言，本网站不能做出最对应的方案。所以因依赖该信息资料所导致的任何损失本网站概不负责，亦不承担任何法律责任。
  </li>
  <li>对使用本网站信息和服务所引起的后果，本网站不作任何承诺，也不承担任何责任。</li>
  <li>
    对由于使用本网站所产生的任何直接、间接或偶然性的损失或破坏，本网站不承担任何责任，无论该损失或破坏是否源于疏忽、违约、诽谤、侵权甚至电脑病毒。
  </li>
  <li>本网站不保证所有信息、文本、图形、链接及其它项目的绝对准确性和完整性，故仅供访问者参照使用。</li>
  <li>由于与本网站链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果，本网站均得免责。</li>
  <li>本网站使用者因为违反本声明的规定而触犯有关法律的，一切后果自己负责，本网站不承担任何责任。</li>
  <li>凡以任何方式登陆本网站或直接、间接使用本网站信息资料者，视为自愿接受本网站声明的约束。</li>
  <li>本站保留随时更改广告服务内容和条款的权利而不另行通知。</li>
  <li>本站之免责声明以及其修改权、更新权及最终解释权属奥斯汀看看网。</li>
</ol>
