<mdb-card class="mt-3">
  <mdb-card-body>
    <div id="checkout-btn" fxLayout="row" fxLayoutAlign="space-between center">
      <div style="font-weight: bold; font-size: 1.5rem">
        <i class="fas fa-arrow-left" style="cursor: pointer" (click)="backToMarket()"></i>
        <span style="padding-left: 20px">{{ 'shopping.cart' | translate }}</span>
      </div>
      <button
        mdbBtn
        type="button"
        mdbWavesEffect
        (click)="checkout()"
        [disabled]="!areAllItemsValid() || this.shoppingService.shoppingItems.length === 0"
      >
        {{ 'shopping.cart.checkout' | translate }}
      </button>
    </div>
  </mdb-card-body>
  <ul class="list-group">
    <li
      style="border-right: 0 solid; border-left: 0 solid"
      class="list-group-item pt-4 pb-4"
      *ngFor="let shoppingItem of shoppingService.shoppingItems; index as i"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <div style="width: 15em; margin-right: 5em">
        <span style="font-size: 1rem">{{
          shoppingItem.merchandise.type !== 'membership'
            ? (shoppingItem.merchandise.name | titlecase | translate)
            : shoppingItem.merchandise.name + ' Membership'
        }}</span>
      </div>
      <div style="padding-right: 5em">
        <mat-form-field>
          <mat-label>{{ 'shopping.cart.choose-plan' | translate }}</mat-label>
          <mat-select
            [(ngModel)]="shoppingItem.plan"
            [formControl]="planControls[i]"
            (selectionChange)="onPlanChange($event, shoppingItem)"
            required
          >
            <mat-option *ngFor="let resourcePlan of resourcePlans" value="{{ resourcePlan }}">{{ resourcePlan | translate }}</mat-option>
          </mat-select>
          <mat-error *ngIf="planControls[i].hasError('required')">{{ 'shopping.cart.choose-plan-prompt' | translate }}</mat-error>
        </mat-form-field>
      </div>
      <div class="btn-group" role="group">
        <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect (click)="editResource(i)">
          {{ 'shopping.cart.edit' | translate }}
        </button>
        <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect (click)="removeShoppingItem(i)">
          {{ 'shopping.cart.remove' | translate }}
        </button>
      </div>
      <div *ngIf="hasFormErrors(i)" class="form-error">* {{ 'shopping.cart.complete-editing-prompt' | translate }}</div>
      <div style="margin-left: auto">
        {{ shoppingItem.price | currency }}
      </div>
    </li>
    <li
      style="border-left: 0px solid; border-right: 0px solid"
      class="list-group-item pt-4 pb-4"
      id="tax-calculation"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div style="font-size: 1.2rem">{{ 'shopping.cart.order-total' | translate }}</div>
      <div>{{ totalPrice | currency }}</div>
    </li>
  </ul>
</mdb-card>
