<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark pl-0 pr-3 m-0" [containerInside]="false">
  <!-- Navbar brand -->
  <mdb-navbar-brand style="width: 140px; height: 25px; margin-right: 24px" fxLayout="row" fxLayoutAlign="center space-between">
    <mdb-icon
      style="color: white; line-height: normal; margin-top: 3px"
      class="ml-1 mr-2"
      fas
      icon="{{ sideBar.opened ? 'angle-double-left' : 'angle-double-right' }}"
      [ngClass]="{ 'd-none': hideSideMenu }"
      (click)="sideBar.toggle()"
    ></mdb-icon>
    <a style="font-weight: bold; line-height: normal" class="navbar-brand p-0 m-0" routerLink="/dashboard">
      {{ 'website.name' | translate }}
    </a>
  </mdb-navbar-brand>
  <!-- Collapsible content -->
  <links fxLayout="row" fxFlexAlign="space-between">
    <ul class="navbar-nav mr-auto">
      <ng-template ngFor let-navTab [ngForOf]="navTabs" let-i="index" [ngForTrackBy]="identifyNav">
        <div *ngIf="navTab.name === 'Shopping'; then shopping; else nonShopping"></div>
        <ng-template #nonShopping>
          <li fxLayout="row" fxLayoutAlign="center" class="nav-item" [ngClass]="{ active: navTab.name === selectedNavTab }">
            <a fxLayout="row" fxFlexAlign="center" class="nav-link waves-light" mdbWavesEffect (click)="selectNavTab(navTab)">
              {{ navTab.name | translate }}</a
            >
          </li>
        </ng-template>
        <ng-template #shopping>
          <li
            fxLayout="row"
            fxLayoutAlign="center"
            [appHasPermission]="shoppingWritePermission"
            [userRole]="authService.getRole()"
            class="nav-item"
            [ngClass]="{ active: navTab.name === selectedNavTab }"
          >
            <a fxLayout="row" fxFlexAlign="center" class="nav-link waves-light" mdbWavesEffect (click)="selectNavTab(navTab)">{{
              navTab.name | translate
            }}</a>
          </li>
        </ng-template>
      </ng-template>
    </ul>
    <div fxLayout="row" fxFlexAlign="center" class="mr-4">
      <header-i18n [showLangText]="false" [iconColor]="'white'"></header-i18n>
    </div>
    <a
      [appHasPermission]="shoppingWritePermission"
      userRole="{{ authService.getRole() }}"
      fxLayout="row"
      class="nav-link waves-light m-1"
      mdbWavesEffect
      fxFlexAlign="center end"
      (click)="viewShoppingCart()"
    >
      <mat-icon
        style="color: white"
        matBadge="{{ shoppingService.hasResource() ? shoppingService.shoppingItems.length : 0 }}"
        matBadgeSize="small"
        [matBadgeHidden]="!shoppingService.hasResource()"
        >shopping_cart
      </mat-icon>
    </a>
    <div class="navbar-nav">
      <div *ngIf="authService.isLoggedIn(); then loggedIn; else notLoggedIn"></div>
      <ng-template #notLoggedIn>
        <a fxLayout="row" fxFlexAlign="center" mdbWavesEffect type="button" class="nav-link waves-light active" routerLink="/auth/login">{{
          'app.login.prompt' | translate
        }}</a>
      </ng-template>
      <ng-template #loggedIn>
        <li fxLayout="row" fxFlexAlign="center" class="nav-item avatar dropdown pl-3 pr-3" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"> {{ authService.getUserName() }}</a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/account/accountinfo">{{
              'navbar.menu.my-account' | translate
            }}</a>
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">{{ 'navbar.menu.log-out' | translate }}</a>
          </div>
        </li>
      </ng-template>
    </div>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
