<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark pl-0 pr-3 m-0" [containerInside]="false">
  <!-- Navbar brand -->
  <mdb-navbar-brand style="width: 140px; height: 25px" class="m-0 d-flex justify-content-center">
    <mdb-icon
      style="position: absolute; left: 15px; height: 20px; color: white; vertical-align: sub"
      class="ml-1 mr-2"
      fas
      icon="{{ sideBar.opened ? 'angle-double-left' : 'angle-double-right' }}"
      [ngClass]="{ 'd-none': hideSideMenu }"
      (click)="sideBar.toggle()"
    ></mdb-icon>
    <a style="position: absolute; left: 45px; font-weight: bold" class="navbar-brand p-0 m-0" routerLink="/dashboard"> AustinHub </a>
  </mdb-navbar-brand>
  <!-- Collapsible content -->
  <links fxLayout="row" fxFlexAlign="space-between">
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        *ngFor="let navTab of navTabs; index as i; trackBy: identifyNav"
        [ngClass]="{ active: navTab.name === selectedNavTab }"
      >
        <a style="padding-top: 15px" class="nav-link waves-light" mdbWavesEffect (click)="selectNavTab(navTab)">{{ navTab.name }}</a>
      </li>
    </ul>
    <a class="nav-link waves-light m-1" mdbWavesEffect fxFlexAlign="center end" (click)="viewShoppingCart()">
      <mat-icon
        style="color: white"
        matBadge="{{ shoppingService.hasResource() ? shoppingService.shoppingItems.length : 0 }}"
        matBadgeSize="small"
        [matBadgeHidden]="!shoppingService.hasResource()"
        >shopping_cart
      </mat-icon>
    </a>
    <div class="navbar-nav">
      <div *ngIf="isLoggedIn(); then loggedIn; else notLoggedIn"></div>
      <ng-template #notLoggedIn>
        <a mdbWavesEffect type="button" class="nav-link waves-light active" routerLink="/auth/login">Please log in</a>
      </ng-template>
      <ng-template #loggedIn>
        <li class="nav-item avatar dropdown pl-3 pr-3" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" style="padding-top: 15px" class="nav-link dropdown-toggle waves-light">
            {{ getUserName() }}</a
          >
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/account">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Log out</a>
          </div>
        </li>
      </ng-template>
    </div>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
