<form nz-form [formGroup]="jobForm" (ngSubmit)="updateJob()" role="form" style="height: 400px; overflow-y: auto">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>{{ 'resource.form.field.name' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="18" nzHasFeedback>
      <nz-input-group nzSize="large">
        <input nz-input formControlName="name" [placeholder]="'resource.form.placeholder.name' | translate" [(ngModel)]="formData.name" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>{{ 'resource.form.field.phone' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Please enter phone" nzHasFeedback>
      <nz-input-group nzSize="large">
        <input
          nz-input
          type="tel"
          formControlName="phone"
          [placeholder]="'resource.form.placeholder.phone' | translate"
          [(ngModel)]="formData.phone"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>{{ 'resource.form.field.salary' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Please enter salary" nzHasFeedback>
      <nz-input-group nzSize="large">
        <textarea
          nz-input
          formControlName="salary"
          [placeholder]="'resource.form.placeholder.salary' | translate"
          [(ngModel)]="formData.salary"
        >
        </textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>{{ 'resource.form.field.address' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Please enter location" nzHasFeedback>
      <nz-input-group nzSize="large">
        <textarea
          nz-input
          formControlName="address"
          [placeholder]="'resource.form.placeholder.location' | translate"
          [(ngModel)]="formData.address"
        >
        </textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>{{ 'resource.form.field.description' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Please enter description" nzHasFeedback>
      <nz-input-group nzSize="large">
        <textarea
          nz-input
          formControlName="description"
          rows="8"
          [placeholder]="'resource.form.placeholder.description' | translate"
          [(ngModel)]="formData.description"
        >
        </textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>{{ 'resource.form.field.contact' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="18" nzHasFeedback>
      <nz-input-group nzSize="large">
        <input
          nz-input
          formControlName="contact"
          [placeholder]="'resource.form.placeholder.contact' | translate"
          [(ngModel)]="formData.contact"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>{{ 'resource.form.field.category' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Please select category" nzHasFeedback>
      <nz-select formControlName="category" [(ngModel)]="this.category" (ngModelChange)="onCategoryChange($event)">
        <nz-option
          *ngFor="let category of allCategories"
          nzValue="{{ category.name }}"
          nzLabel="{{ category.displayName | translate }}"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item [nzJustify]="'center'">
    <button
      style="width: 150px"
      nz-button
      type="submit"
      nzType="primary"
      nzSize="large"
      [nzLoading]="isLoading()"
      (click)="save()"
      [disabled]="persist ? jobForm.pristine || !jobForm.valid : !jobForm.valid"
      nzBlock
    >
      {{ 'resource.form.button.save' | translate }}
    </button>
    <button style="width: 150px" nz-button nzType="warning" nzSize="large" nzBlock (click)="cancel()">Cancel</button>
  </nz-form-item>
</form>
