<form nz-form [formGroup]="jobForm" (ngSubmit)="updateJob()" role="form" style="height: 400px; overflow-y: auto">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control nzHasFeedback>
      <nz-input-group nzSize="large">
        <nz-form-label [nzSpan]="5" nzRequired>Name</nz-form-label>
        <input nz-input formControlName="name" placeholder="Name" [(ngModel)]="formData.name" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzHasFeedback>
      <nz-input-group nzSize="large">
        <nz-form-label [nzSpan]="5" nzRequired>Company</nz-form-label>
        <input nz-input formControlName="company" placeholder="Company Name" [(ngModel)]="formData.company" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter job title" nzHasFeedback>
      <nz-input-group nzSize="large">
        <nz-form-label [nzSpan]="5" nzRequired>Job Title</nz-form-label>
        <input nz-input type="text" formControlName="title" placeholder="job title" [(ngModel)]="formData.title" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter phone" nzHasFeedback>
      <nz-input-group nzSize="large">
        <nz-form-label [nzSpan]="5" nzRequired>Phone</nz-form-label>
        <input nz-input type="tel" formControlName="phone" placeholder="phone" [(ngModel)]="formData.phone" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter salary">
      <nz-input-group nzSize="large">
        <nz-form-label [nzSpan]="5" nzRequired>Salary</nz-form-label>
        <textarea nz-input formControlName="salary" placeholder="salary" [(ngModel)]="formData.salary"> </textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter location">
      <nz-input-group nzSize="large">
        <nz-form-label [nzSpan]="5" nzRequired>Location</nz-form-label>
        <textarea nz-input formControlName="location" placeholder="location" [(ngModel)]="formData.location"> </textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please enter description">
      <nz-input-group nzSize="large">
        <nz-form-label [nzSpan]="5" nzRequired>Description</nz-form-label>
        <textarea nz-input formControlName="description" rows="8" placeholder="description" [(ngModel)]="formData.description"> </textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzHasFeedback>
      <nz-input-group nzSize="large">
        <nz-form-label [nzSpan]="5" nzRequired>Contact</nz-form-label>
        <input nz-input formControlName="contact" placeholder="Contact" [(ngModel)]="formData.contact" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please select category" nzHasFeedback>
      <nz-form-label nzRequired>Category</nz-form-label>
      <nz-select formControlName="category" [(ngModel)]="this.category" (ngModelChange)="onCategoryChange($event)">
        <nz-option *ngFor="let category of allCategories" nzValue="{{ category.name }}" nzLabel="{{ category.displayName }}"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item [nzJustify]="'center'">
    <button style="width: 150px" nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="isLoading()" (click)="save()" nzBlock>
      Save
    </button>
    <button style="width: 150px" nz-button nzType="warning" nzSize="large" nzBlock (click)="cancel()">Cancel</button>
  </nz-form-item>
</form>
