<form nz-form [formGroup]="boothForm" role="form" style="height: 400px; overflow-y: auto">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>{{ 'resource.form.field.name' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="18" nzHasFeedback>
      <nz-input-group nzSize="large">
        <input nz-input formControlName="name" [placeholder]="'resource.form.placeholder.name' | translate" [(ngModel)]="formData.name" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>{{ 'resource.form.field.phone' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Please enter phone" nzHasFeedback>
      <nz-input-group nzSize="large">
        <input
          nz-input
          type="tel"
          formControlName="phone"
          [placeholder]="'resource.form.placeholder.phone' | translate"
          [(ngModel)]="formData.phone"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>{{ 'resource.form.field.email' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Please enter email" nzHasFeedback>
      <nz-input-group nzSize="large">
        <input
          nz-input
          type="email"
          formControlName="email"
          [placeholder]="'resource.form.placeholder.email' | translate"
          [(ngModel)]="formData.email"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>{{ 'resource.form.field.description' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Please enter description" nzHasFeedback>
      <nz-input-group nzSize="large">
        <textarea
          nz-input
          formControlName="description"
          formDatas="8"
          [placeholder]="'resource.form.placeholder.description' | translate"
          [(ngModel)]="formData.description"
        >
        </textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>{{ 'resource.form.field.address' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="18" nzHasFeedback>
      <nz-input-group nzSize="large">
        <input
          nz-input
          formControlName="address"
          [placeholder]="'resource.form.placeholder.address' | translate"
          [(ngModel)]="formData.address"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>{{ 'resource.form.field.category' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Please select category" nzHasFeedback>
      <nz-select formControlName="category" [(ngModel)]="this.category" (ngModelChange)="onCategoryChange($event)">
        <nz-option
          *ngFor="let category of allCategories"
          nzValue="{{ category.name }}"
          nzLabel="{{ category.displayName | translate }}"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item [nzJustify]="'center'">
    <button
      style="width: 150px"
      nz-button
      type="submit"
      nzType="primary"
      nzSize="large"
      [nzLoading]="isLoading()"
      nzBlock
      [disabled]="persist ? boothForm.pristine || !boothForm.valid : !boothForm.valid"
      (click)="save()"
    >
      {{ 'resource.form.button.save' | translate }}
    </button>
  </nz-form-item>
</form>
