<mdb-card>
  <mdb-card-body>
    <mdb-card-title>
      <h3 class="font-weight-bold">Profile</h3>
    </mdb-card-title>
  </mdb-card-body>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" fxLayout="row">
      <div style="width: 150px">Username:</div>
      <div>{{ userName }}</div>
    </li>
    <li class="list-group-item" fxLayout="row">
      <div style="width: 150px">Email:</div>
      <div>{{ email }}</div>
    </li>
  </ul>
</mdb-card>
<div class="mt-4"></div>
<mdb-card *ngIf="membership">
  <mdb-card-body>
    <mdb-card-title>
      <h3 class="font-weight-bold">Membership</h3>
    </mdb-card-title>
  </mdb-card-body>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" fxLayout="row">
      <div style="width: 150px">Type:</div>
      <div>{{ membership.membershipType.name | titlecase }}</div>
    </li>
    <li class="list-group-item" fxLayout="row">
      <div style="width: 150px">Active Until:</div>
      <div>{{ membership.expirationTimestamp | date: 'shortDate' }}</div>
    </li>
  </ul>
</mdb-card>
