<mdb-card>
  <mdb-card-body>
    <mdb-card-title>
      <h3 class="font-weight-bold">{{ 'account-info.my-account.profile' | translate }}</h3>
    </mdb-card-title>
  </mdb-card-body>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" fxLayout="row">
      <div style="width: 170px">{{ 'account-info.my-account.profile.username' | translate }}</div>
      <div>{{ userName }}</div>
    </li>
    <li class="list-group-item" fxLayout="row">
      <div style="width: 170px">{{ 'account-info.my-account.profile.email' | translate }}</div>
      <div>{{ email }}</div>
    </li>
    <li class="list-group-item" fxLayout="row" fxLayoutAlign="start center">
      <div style="width: 170px">{{ 'account-info.my-account.profile.preference.language' | translate }}</div>
      <div class="btn-group col-3 p-0" role="group">
        <mat-button-toggle-group name="autoSubscribe" value="{{ preferredLanguage }}" (change)="onLangChange($event)">
          <mat-button-toggle value="zh-CN">{{ 'lang.mandarin' | translate }}</mat-button-toggle>
          <mat-button-toggle value="en-US">{{ 'lang.english' | translate }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </li>
  </ul>
</mdb-card>
<div class="mt-4"></div>
<mdb-card *ngIf="membership">
  <mdb-card-body>
    <mdb-card-title>
      <h3 class="font-weight-bold">{{ 'account-info.my-account.membership' | translate }}</h3>
    </mdb-card-title>
  </mdb-card-body>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" fxLayout="row">
      <div style="width: 170px">{{ 'account-info.my-account.membership.type' | translate }}</div>
      <div>{{ membership.membershipType.name | titlecase | translate }}</div>
    </li>
    <li class="list-group-item" fxLayout="row">
      <div style="width: 170px">{{ 'account-info.my-account.membership.activeUntil' | translate }}</div>
      <div>{{ membership.expirationTimestamp | date: 'shortDate' }}</div>
    </li>
  </ul>
</mdb-card>
