<div
  *ngIf="isLoading()"
  class="no-scrollbar"
  style="position: relative; z-index: 10; width: 100%; height: 100%; margin-top: 20%; text-align: center"
>
  <div class="spinner-border text-danger" role="status"></div>
</div>
<div *ngIf="!isLoading()">
  <nav *ngIf="!isReview && (withContent() || this.searchQuery !== '')" class="navbar secondary-navbar">
    <div>
      <nz-form-control>
        <nz-input-group nzSize="medium" style="display: flex">
          <input
            nz-input
            class="search-input-box"
            placeholder="{{ 'search.placeholder' | translate }}"
            [(ngModel)]="searchQuery"
            (keyup.enter)="handleQueryChange()"
          />
          <span class="input-group-text border-0 submit-button" id="search-addon" (click)="handleQueryChange()">
            <i class="fas fa-search"></i>
          </span>
        </nz-input-group>
      </nz-form-control>
      <div style="margin-top: 10px; margin-left: 5px">
        {{ 'search.page' | translate }} {{ page + 1 }} {{ 'search.page.joiner' | translate }} {{ totalCount }}
        {{ 'search.item-type.booth' | translate }}{{ totalCount === 1 ? '' : ('search.page.plural' | translate) }}
      </div>
    </div>
    <div class="navbar-nav">
      <nz-form-control style="margin-bottom: 30px">
        <nz-form-label class="resource-page-order-by">{{ 'search.order-by' | translate }}</nz-form-label>
        <nz-select [(ngModel)]="this.orderBy" (ngModelChange)="handleOrderByChange($event)" style="width: 140px">
          <nz-option nzValue="TITLE" [nzLabel]="'search.order-by.title' | translate"></nz-option>
          <nz-option nzValue="CREATED_TIMESTAMP" [nzLabel]="'search.order-by.created-time' | translate"></nz-option>
        </nz-select>
      </nz-form-control>
    </div>
  </nav>
  <mdb-card
    *ngFor="
      let job of jobs | paginate: { id: 'job-pagination', totalItems: totalCount, currentPage: page + 1 || 1, itemsPerPage: pageSize }
    "
    class="mb-4"
  >
    <mdb-card-body>
      <div class="row">
        <div class="col-sm-3">
          <mdb-card-title>
            <h4>{{ job.name }}</h4>
          </mdb-card-title>
          <mdb-card-text>
            <p>Contact: {{ job.contact }}</p>
            <p><i class="fas fa-coins job-icon"></i> {{ job.salary }}</p>
            <p><i class="fas fa-location-arrow job-icon"></i> {{ job.address }}</p>
            <p><i class="fas fa-phone-alt job-icon"></i> {{ job.phone }}</p>
            <p *ngIf="job.companyLink">Company Link: {{ job.companyLink }}</p>
            <p *ngIf="!isReview">
              <i class="far fa-clock job-icon"></i>
              <span>Posted {{ this.timePast(job.resource.createdTimestamp) }} ago</span>
            </p>
          </mdb-card-text>
        </div>
        <div class="col-md">
          <mdb-card-text>
            <div style="margin-top: 10px; line-height: 27px">
              {{ job.description }}
            </div>
          </mdb-card-text>
        </div>
      </div>
    </mdb-card-body>
  </mdb-card>
  <div *ngIf="!withContent()">{{ this.searchQuery !== '' ? 'No results found' : 'No content created yet' }}</div>
  <div *ngIf="!isReview && withContent()" class="d-flex justify-content-center">
    <pagination-controls
      id="job-pagination"
      responsive="true"
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="handlePageChange($event)"
    >
    </pagination-controls>
  </div>
</div>
