<div *ngIf="isLoading()" style="position: relative; z-index: 10; width: 100%; height: 100%; margin-top: 20%; text-align: center">
  <div class="spinner-border text-danger" role="status"></div>
</div>
<div *ngIf="!isLoading()">
  <nav *ngIf="withContent() || this.searchQuery !== ''" class="navbar secondary-navbar">
    <div>
      <nz-form-control>
        <nz-input-group nzSize="medium" style="display: flex">
          <input nz-input class="search-input-box" placeholder="Search" [(ngModel)]="searchQuery" (keyup.enter)="handleQueryChange()" />
          <span class="input-group-text border-0 submit-button" id="search-addon" (click)="handleQueryChange()">
            <i class="fas fa-search"></i>
          </span>
        </nz-input-group>
      </nz-form-control>
      <div style="margin-top: 10px; margin-left: 5px">Page {{ page + 1 }} out of {{ totalCount }} job{{ totalCount === 1 ? '' : 's' }}</div>
    </div>
    <div class="navbar-nav">
      <nz-form-control style="margin-bottom: 30px">
        <nz-form-label class="resource-page-order-by">Order By</nz-form-label>
        <nz-select [(ngModel)]="this.orderBy" (ngModelChange)="handleOrderByChange($event)" style="width: 140px">
          <nz-option nzValue="TITLE" nzLabel="Title"></nz-option>
          <nz-option nzValue="CREATED_TIMESTAMP" nzLabel="Created Time"></nz-option>
        </nz-select>
      </nz-form-control>
    </div>
  </nav>
  <mdb-card
    *ngFor="
      let job of jobs | paginate: { id: 'job-pagination', totalItems: totalCount, currentPage: page + 1 || 1, itemsPerPage: pageSize }
    "
    class="mb-4"
  >
    <mdb-card-header>{{ job.name }}</mdb-card-header>
    <mdb-card-body fxLayout="row" fxFlexAlign="start center" fxLayoutGap="8px">
      <div fxLayout="column" fxFlexAlign="space-between center" fxFlex="1 1 350px">
        <p>Email: {{ job.salary }}</p>
        <p>Address: {{ job.address }}</p>
        <p>Phone: {{ job.phone }}</p>
        <p>Contact: {{ job.contact }}</p>
        <p>Company Link: {{ job.companyLink }}</p>
      </div>
      <p fxFlex="1 1 auto">{{ job.description }}</p>
    </mdb-card-body>
  </mdb-card>
  <div *ngIf="!withContent()">{{ this.searchQuery !== '' ? 'No results found' : 'No content created yet' }}</div>
  <div *ngIf="withContent()" class="d-flex justify-content-center">
    <pagination-controls
      id="job-pagination"
      responsive="true"
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="handlePageChange($event)"
    >
    </pagination-controls>
  </div>
</div>
