<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Please enter email">
      <nz-input-group nzSize="large" nzPrefixIcon="mail">
        <input nz-input formControlName="email" placeholder="{{ 'app.login.forgot-password.email' | translate }}" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row nzJustify="end">
    <nz-col nzSpan="8" nzOffset="12" [hidden]="emailSent">{{ 'app.login.forgot-password.emailSent' | translate }}</nz-col>
    <button nz-button nzType="primary" nz-col nzSpan="4" (click)="forgotPassword()">
      {{ 'app.login.forgot-password.button' | translate }}
    </button>
  </div>
  <br />
  <div nz-row nzJustify="end">
    <a class="login" routerLink="/auth/login">{{ 'app.register.sign-in' | translate }}</a>
  </div>
</form>
