<form nz-form [formGroup]="form">
  <nz-alert *ngIf="!!error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="email">{{ 'app.login.forgot-password.email' | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="18" nzErrorTip="Please enter email" [nzErrorTip]="mailErrorTip">
      <nz-input-group nzSize="large" nzPrefixIcon="mail">
        <input nz-input formControlName="email" placeholder="{{ 'app.login.forgot-password.email' | translate }}" />
      </nz-input-group>
      <ng-template #mailErrorTip let-mail>
        <ng-container *ngIf="mail.hasError('required')">{{ 'validation.email.required' | translate }}</ng-container>
        <ng-container *ngIf="mail.hasError('email')">{{ 'validation.email.wrong-format' | translate }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <div nz-row nzJustify="end">
    <nz-col nzSpan="8" nzOffset="12" [hidden]="emailSent">{{ 'app.login.forgot-password.emailSent' | translate }}</nz-col>
    <button nz-button nzType="primary" nz-col nzSpan="4" (click)="forgotPassword()">
      {{ 'app.login.forgot-password.button' | translate }}
    </button>
  </div>
  <br />
  <div nz-row nzJustify="end">
    <a class="login" routerLink="/auth/login">{{ 'app.register.sign-in' | translate }}</a>
  </div>
</form>
