<form nz-form [formGroup]="loginForm" (ngSubmit)="submit()" role="form">
  <nz-alert *ngIf="!!error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="nameErrTip" nzHasFeedback>
      <nz-input-group nzSize="large" nzPrefixIcon="user">
        <input nz-input formControlName="username" placeholder="{{ 'app.login.username' | translate }}" />
        <ng-template #nameErrTip let-control>
          <ng-container *ngIf="control.hasError('required')"> {{ 'validation.username.required' | translate }} </ng-container>
          <ng-container *ngIf="control.hasError('maxlength')">
            {{ 'validation.username.max-length' | translate: { maxLen: 45 } }}
          </ng-container>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="passwordErrTip" nzHasFeedback>
      <nz-input-group nzSize="large" nzPrefixIcon="lock">
        <input nz-input type="password" formControlName="password" placeholder="{{ 'app.login.password' | translate }}" />
        <ng-template #passwordErrTip let-control>
          <ng-container *ngIf="control.hasError('required')"> {{ 'validation.password.required' | translate }} </ng-container>
          <ng-container *ngIf="control.hasError('minlength')">
            {{ 'validation.password.strength.msg' | translate: { minLen: 6 } }}</ng-container
          >
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-col [nzSpan]="12" [nzOffset]="12" class="text-right">
      <a class="forgot" routerLink="/auth/forgot-password">{{ 'app.login.forgot-password' | translate }}</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="isLoading()" nzBlock>
      {{ 'app.login.login' | translate }}
    </button>
  </nz-form-item>
  <nz-form-item>
    <nz-col [nzSpan]="12" [nzOffset]="12" class="text-right">
      <a routerLink="/auth/register">{{ 'app.login.signup' | translate }}</a>
    </nz-col>
  </nz-form-item>
</form>
